<p id="notice"><%= notice %></p>

<p>
  <strong>Send:</strong>
  <%= @message.send %>
</p>

<p>
  <strong>Read:</strong>
  <%= @message.read %>
</p>

<p>
  <strong>Date send:</strong>
  <%= @message.date_send %>
</p>

<p>
  <strong>Date read:</strong>
  <%= @message.date_read %>
</p>

<p>
  <strong>Text:</strong>
  <%= @message.text %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
